extends layout

block content
  #main
    script(type='text/javascript', language='javascript', src='/javascripts/mailObfuscator.js')
    .spacer
    .columnc
      img(src='/images/julie.jpg', alt='Julie', width='214', height='321')
    .columnc
      h3 Julia Klarman Litwiller
      p
        b (617)971-8636
      span#mailTo
      span(style='margin:5px;')
      a(href='https://www.facebook.com/juliaklarmanphotography/')
        img(src='/images/facebook-48.png', alt='facebook')
    .spacer
